/* !MISC */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Переменные */
:root {
  --color-link: #2196f3;
  --text: #212121;
  --color-text: #ffffff;
  --color-p: #757575;
  --font-family: Roboto;
  --font-size: 14px;
  --font-style: normal;
  --font-logo: Raleway;
  --font-size-logo: 26px;
}

a {
  text-decoration: none;
}

.body-index {
  font-family: "Roboto", "Raleway", "Arial", sans-serif;
}

/* &Body Portfolio.html */
.body-portfolio {
  color: #e5e5e5;
  font-family: "Roboto", "Raleway", "Arial", sans-serif;
}

/* BUTTON */
.filter button:hover,
.filter button:focus {
  color: var(--color-text);
  background-color: var(--color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter button {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text);
  background-color: #f5f4fa;
  cursor: pointer;
  height: 38px;
  border-radius: 4px;
  border-color: #f5f4fa;
  padding: 6px 22px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  display: flex;
  justify-content: center;
  /* margin-top: 94px; */
  margin-bottom: 50px;
}

.filter li + li {
  margin-left: 8px;
}

/* Menu */
ul {
  list-style: none;
}

h3 {
  color: var(--text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--color-p);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 94px; */
}

/* Работы в ПОРТФОЛИО */

.element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background: #ffffff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element:focus,
.element:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.element:nth-child(3n) {
  margin-right: 0px;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* .element-card {
  position: relative;
} */

.element-card:hover .overlay::before {
  opacity: 1;
  transform: translateY(0%);
}

/* .element-card::before */
.overlay::before {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  opacity: 0;
  color: white;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-card a:hover .overlay-text p {
  opacity: 1;
  transform: translateY(0);
}

.card {
  padding: 20px 24px;
  margin-top: -5px;
}
.card h3 {
  padding-bottom: 4px;
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio1 {
  color: var(--color-link);
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.portfolio1::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-link);
  border-radius: 2px;
}

img {
  display: block;
  width: 100%;
}
